<%include ../partials/header%>

<div class="container">
	<h1 class="h1b">
	Admin Dashboard
	</h1>
		<a href="/admin/new" class="btn btn-primary h2w">New Event</a>
		<a href="/admin/events" class="btn btn-primary h2w">See All Events</a>


</div>


<%include ../partials/footer%>
