<%include ./partials/header%>
<h1>
	Admin Login
</h1>

<form action="/admin" method="post">
	<input type="text" name="username" placeholder="username">
	<input type="passowrd" name="password" placeholder="password">
	<input type="submit" value="Login!">
</form>

<%include ./partials/footer%>