<% include ../partials/header %>





<p class="test">if this is blue then the css is connected</p>

<div class="container row" style="width:80%; margin:auto;">
	<form id="form" action="/admin/new" method="POST">
		<h1>	
			Create a new event
		</h1>
		<div class="form-group">
			<label>Name: </label>
			<input class="form-control" type="text" name="name" placeholder="name">
		</div>
		<div class="form-group">
			<label>Date</label>
			<input class="form-control" type="date" name="date" placeholder="date">
		</div>
		<div class="form-group">
			<label>Start Time:</label>
			<input class="form-control" type="time" name="startTime" placeholder="Start Time">
		</div>
		<div class="form-group">
			<label>End Time:</label>
			<input class="form-control" type="time" name="endTime" placeholder="End Time">
		</div>
		<div class="form-group">
			<label>Eventbrite Link:</label>
			<input class="form-control" type="text" name="eventURL" placeholder="Event URL">
		</div>
		<div class="form-group">
			<label>Event Image URL</label>
			<input class="form-control" type="text" name="image" placeholder="image url">
		</div>
		<h1>
			address
		</h1>
		<div class="form-group">
			<label>Business Name:</label>
			<input class="form-control" type="text" name="businessName" placeholder="Business Name">
		</div>
		<div class="form-group">
			<label>Street Number:</label>
			<input class="form-control" type="text" name="streetNumber" placeholder="Street Number">
		</div>
		<div class="form-group">
			<label>Street Name:</label>
			<input class="form-control" type="text" name="streetName" placeholder="Street Name">
		</div>
		<div class="form-group">
			<label>City:</label>
			<input class="form-control" type="text" name="city" placeholder="City">
		</div>
		<div class="form-group">
			<label>Postcode:</label>
			<input class="form-control" type="text" name="postcode" placeholder="Postcode">
		</div>

		<h1>
			Event Descriptions
		</h1>
		<div class="form-group">
			<label>Event Description</label>
			<textarea id="editor" rows="10" cols="100" class="form-control" type="text" name="description" placeholder="Event Description"></textarea>
		</div>
		<div class="form-group">
			<label>Event Excerpt</label>
			<input class="form-control" type="text" maxlength="162" name="excerpt" placeholder="excerpt">
		</div>
		<button type="submit" class="btn btn-primary btn-block">
		Submit!
		</button>
		<a href="/events">Back to Events</a>
	</form>
	
</div>
		
<script> 
const editor = SUNEDITOR.create((document.getElementById('editor')),{
    // All of the plugins are loaded in the "window.SUNEDITOR" object in dist/suneditor.min.js file
    // Insert options
    // Language global object (default: en)
    lang: SUNEDITOR_LANG['en']
	});


document.getElementById("form").addEventListener("submit", function() {
	editor.save()
});
</script>
<% include ../partials/footer %>