<%include ../partials/header%>

<div class="container login">
	<h1>
		Password check for Design Trust content
	</h1>
	<form action="/passwordCheck" method="post">
		<input type="text" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="Login!">
	</form>
</div>

<%include ../partials/footer%></input>