<!-- Email Sub -->

<div class="container my-4" id="email-subscribe">
	<div class="d-flex flex-column p-4">
		<h1 class="h1w text-center mb-3">Stay in Touch!</h1>
		<h2 class="h2w text-center mb-4">Always be in the know about upcoming RCF events and workshops by subscribing to our newsletter!</h2>
		<form class="">
			<div class="row mb-2">
				<div class="col">
					<input type="text" class="form-control" name="first-name" placeholder="First Name">
				</div>
				<div class="col">
					<input type="text" class="form-control" name="last-name" placeholder="Second Name">
				</div>
				<div class="col">
					<input type="email" class="form-control" name="email" placeholder="Email">
				</div>
				<div class="col flex-grow-0">
					<button class="btn btn-primary">Subscribe</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!-- Footer -->
<div id="footer">
	<div class="container">
		<div class="d-flex justify-content-between py-4">
			<img src="/images/cq.svg">
			<img src="/images/derbytheatre.svg">
			<img src="/images/nbv.svg">
			<img src="/images/ntu.svg">
			<img src="/images/nae.svg">
			<img src="/images/quad.svg">
		</div>
		<div class="d-flex justify-content-around py-4">
			<img src="/images/ncc.svg">
			<img src="/images/art.svg">
			<img src="/images/d2n2.svg">
		</div>
		<hr>
		<div class="d-flex justify-content-between pb-4">
			<div>
				<div class="d-flex flex-row bodycopysmw">
					<div>
						<div class="d-flex flex-column pr-4">
							<div class="pb-3">Support</div>
							<div>Support for You</div>
							<div>Workshops & Events</div>
							<div>Experimentor</div>
							<div>Resources</div>
						</div>
					</div>
					<div>
						<div class="d-flex flex-column px-4">
							<div class="pb-3">General</div>
							<div>About The Big House</div>
							<div>Terms & Privacy</div>
							<div>Cookie Policy</div>
							<div>Accessibility</div>
							<div class="pt-4">Join the conversation</div>
							<div style="color:#EB600B;">#TheBigHouse</div>
						</div>
					</div>
					<div>
						<div class="d-flex flex-column px-4">
							<div class="pb-3">Contact</div>
							<div>0115 924 8630</div>
							<div>RCF@nae.org.uk</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<img src="/images/eu.svg">
			</div>
		</div>
	</div>
</div>





</body>
</html>