<!DOCTYPE html>
<html>
<head>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre:400,700&display=swap" rel="stylesheet"> 

<link rel="Stylesheet" type="text/css" href="/src/jHtmlAreaWebsite/style/jHtmlArea.css" />


<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="/src/jHtmlAreaWebsite/scripts/jHtmlArea-0.8.js"></script>

	

	<title>Real Creative Futures Digital</title>
</head>
<body>
	


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/images/RCF-logo.svg" class="img-fluid navbar-brand" alt="responsive image" style="height:5rem; width: 5rem;">
			<a href="https://bighouse.org.uk/"><img src="/images/bh-pink.svg" class="navbar-brand" alt="responsive image" style="height:6rem; width: 6rem;"></a>
			<a href="/"><img src="/images/eu-only.svg" class="navbar-brand" alt="responsive image" style="height:6rem; width: 6rem;"></a>
			<a href="https://www.midlandsengine.org/"><img src="/images/me-blue.svg" class="navbar-brand" alt="responsive image" style="height:6rem; width: 6rem;"></a>
		</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		  <li class="nav-item active">
			<a class="nav-link h3b" href="/events"><strong>Events & Workshops</strong><span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link h3b" href="/coaches"><strong>Coaches</strong></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link  h3b" href="/resources"><strong>Resources</strong></a>
		  </li>
		</ul>
	  </div>
	</div>
</nav>
	
<div id="page-container">
   <div id="content-wrap">
