<!DOCTYPE html>
<html>
<head>
	
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre:400,700&display=swap" rel="stylesheet"> 

<link rel="Stylesheet" type="text/css" href="/src/jHtmlAreaWebsite/style/jHtmlArea.css" />


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/src/jHtmlAreaWebsite/scripts/jHtmlArea-0.8.js"></script>

	

	<title>Real Creative Futures Digital</title>
</head>
<body>

<div class="container">
	<header>
		<h2><a href="/"><img src="/images/RCF-logo-logo.svg" class="img-fluid navbar-brand" alt="responsive image" style="height:5rem; width: 5rem;"></a></h2>
		<nav>
			<li><a class="h3w" href="/events" ><strong>Events & Workshops</strong></a></li>
			<li><a href="#" class="h3w"><strong>Experimentor</strong></a></li>
			<li><a href="#" class="h3w"><strong>Resources</strong></a></li>
		</nav>
	</header>
</div>
	
	
	
	
	
	
<!-- <div class="">
	<nav class="navbar navbar-expand-lg navbar-light header bg-light">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img src="/images/RCF-logo.svg" class="img-fluid navbar-brand" alt="responsive image" style="height:5rem; width: 5rem;">
			</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			  <li class="nav-item active">
				<a class="nav-link h3b" href="/events"><strong>Events & Workshops</strong><span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled h3b" href="#"><strong>Experimentor</strong></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link disabled h3b" href="#"><strong>Resources</strong></a>
			  </li>
			</ul>
			  <button class="nav-item nav-link btn btn-outline-dark h2b sign-up-btn" href="#"><strong>Sign-up</strong></button>
		  </div>
		</div>
	</nav>
</div> -->

	
