<%include ./partials/header%>

<div class="container" >
	<h1>RCFD Live Coding Workshop Series Application</h2>
		<h3>Application deadline is Friday 29th April</h3>



	<div>
		<form action="/coding-workshop-application" method="post">

			<!-- Name -->
			<div class="form-group">
				<label for="exampleInputPassword1">Full Name</label>
				<input type="text" class="form-control" id="exampleInputPassword1" name="fullName" required>
			</div>

			<!-- Email -->
			<div class="form-group">
			<label for="exampleInputEmail1">Email Address</label>
			<input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>

			<!-- Personal Statement -->
			<div class="form-group">
			<label for="exampleInputPassword1">Your Creative Practice</label>
			<br>
			<textarea class="form-control" name="personalStatement" rows="10" cols="200" required></textarea>
			<small id="emailHelp" class="form-text text-muted">Please tell us about your creative practice and what you would like to explore on this workshop series. </small>
			</div>

			<!-- Eligability checkboxes -->

			<!-- Over 18 -->
			<h2>Eligability</h2>
			<div class="form-group">
				
				<label class="form-check-label" for="exampleInputPassword1">Are you over the age of 18?</label>
				<input type="checkbox" name="over18" required>
				
			</div>

			<!-- Location -->
			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Do you live in Nottinghamshire or Derbyshire?</label>
				<input type="checkbox" name="location" required>
			</div>

			<!-- Big House Registered -->
			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Have you registered for the Big House programme?</label>
				<input type="checkbox" name="registeredBH">
			</div>

			<!-- Dates -->
			<h3>Are you available on the following days and times for the coding workshops?</h3>
			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 7th June - 12:00 – 15:00 </label>
				<input type="checkbox" required>
			</div>

			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 14th June - 12:00 - 15:00 </label>
				<input type="checkbox" required>
			</div>

			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 21st June - 12:00 - 15:00 </label>
				<input type="checkbox" required>
			</div>

			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 28th, June - 12:00 - 15:00 </label>
				<input type="checkbox" required>
			</div>

			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 12th July - 12:00 – 15:00 </label>
				<input type="checkbox" required>
			</div>

			<div class="form-group">
				<label class="form-check-label" for="exampleInputPassword1">Tuesday 19th July 12:00 – 15:00 </label>
				<input type="checkbox" required>
			</div>





			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<div>Please contact oliver@nae.org.uk if you have any questions about the application form!</div>

	</div>
</div>
<% include partials/footer %>