<%include ./partials/header%>
<h1>
	sign up
</h1>

<form action="/enrol" method="post">
	<input type="text" placeholder="username">
	<input type="text" placeholder="password">
	<button>
		Sign-up!
	</button>
</form>

<%include ./partials/footer%>