<%include ./partials/header%>
<h1>
	sign up
</h1>

<form action="/signup" method="post">
	Date of Birth
	(Must be at least 16 years old)
	<input type="text" placeholder="Required field">
	
	Employment Status
	<select name="employment-status">
	 <option value="Employed">Employed</option>
	 <option value="unemployed">unemployed</option>
	 <option value="Self-employed">Self-employed</option>
	 <option value="Other">Other</option>
	
	Proposed Trading Name
	(If Known)
	<input type="text" placeholder="Required field">
	
	Proposed Trading Start Date
	<input type="text" placeholder="Required field">
	
	Address
	<textarea name="Required field" rows="3" cols="30">
	
	Postcode
	<input type="text" placeholder="Required field">
	
	Email Address
	<input type="text" placeholder="Required field">
	
	Telephone
	<input type="text" placeholder="Required field">
	
	Mobile     
	<input type="text" placeholder="Required field">
	
	Name of college or university attended (if any)
	<input type="checkbox" name="value1" value="ntu">ntu
	<input type="checkbox" name="value2" value="confetti">confetti<br>
	<input type="checkbox" name="value3" value="UoN">UoN
	<input type="checkbox" name="value4" value="Nottingham College">value<br>
	<input type="checkbox" name="value5" value="UoD">UoD
	<input type="checkbox" name="value6" value="Other">Other
	
	If selected other please state
	<input type="text" placeholder="Required field if not selected above">
	
	Referred from/ by
	<input type="text" placeholder="Select an option">
	
	Have you been in contact with any other business organisation?
	<input type="radio" name="" value="yes" checked>Yes
	<input type="radio" name="" value="no">No
	
	I have not registered at Companies House or with HMRC as a sole trader
	<input type="radio" name="" value="yes">
	
	I am not trading
	<input type="radio" name="" value="yes">
	
	I am committed to following sustainable practices, where possible, whilst participating in this project to ensure minimum negative impact, and maximum positive effects, on the environment.
	<input type="radio" name="" value="yes">yes
	<input type="radio" name="" value="no">no
	
	It is a requirement of Public Funding that monitoring is undertaken for Equal Opportunities purposes. Please confirm your details by ticking one option from each group below.

	
	Ethnicity
	How would you describe your cultural or ethnic origin?* 
	*Please note that ethnic origin is not a matter of nationality, right of abode in the UK or place of birth.
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	
	Please state your gender
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	
	Do you consider yourself to have a disability?
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	
	
	Please state which of the following age groups you belong to
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	<input type="radio" name="" value="yes">
	
	<button>
		Sign-up!
	</button>
</form>

<%include ./partials/footer%>