<%include ./partials/header%>
	

	

<div class="container" id="resources">
	
	
	
	
		<div class="resourcesDescription" >
		<div class="h1b">

				RCF-D Spotlight Sessions

		</div>
		<div class="bodycopyb">
			<p>
				
			</p>We’ve been busy creating some amazing video content to keep you inspired while our live events are on hold. 
			Our Ideas & Insights video series feature our wonderful specialist coaches sharing ideas, insights and top tips on a range of topics from managing cashflow, building customer loyalty and staying creative during these difficult times.


			<p>
			We’ve also been working on a series of micro-commissions, 5-15 min video pieces featuring the brilliant artists and creatives on the programme.</p>
		</div>

		
	</div>
	
	
	
	<div class="youtubeSection">
		<div class="youtubeVideo">
			<iframe src="https://www.youtube.com/embed/52BE-iSi90w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="youtubeSectionTitle h3b">
			RCF-D Spotlight: Clare Taylor, Artist Educator – Play with Clay

		</div>
		<div class="youtubeSectionDescription bodycopyb">
			Clare introduces the idea of play for adults and the benefits of play on our wellbeing, including releasing those much sought after endorphins.  With Play with Clay, Clare shows us how to create a clay portrait - a fun activity that you can challenge your colleagues, family and friends to do with you.  Clare Taylor runs Bus and Bird Arts, a small community arts organisation working with a range of sectors form education to healthcare.

		</div>
	</div>
	
	
	<div class="youtubeSection">
		<div class="youtubeVideo">
			<iframe src="https://www.youtube.com/embed/UOsyW13ysvQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="youtubeSectionTitle h3b">
			RCF-D Spotlight: Craig Humpston, Illustrator – Puny Future

		</div>
		<div class="youtubeSectionDescription bodycopyb">
			This film shows the creation of a page from a work in progress 'Puny Future'. A short story about a post-Earth civilisation where creatures have been bred to act as biological computers. Inevitable calamity ensues!  Graphic artist and illustrator Craig Humpston draws influence from cartoon, comics and 80's skate art in his outlandish miasmic emissions. Meandering between creating stories in comics, character design and stand-alone pieces, his work uses digital tools to help develop hand drawn or painted outcomes.

		</div>
	</div>
	
	
	
	<div class="youtubeSection">
		<div class="youtubeVideo">
			<iframe src="https://www.youtube.com/embed/9jHEkRBslJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="youtubeSectionTitle h3b">
			RCF-D Spotlight: Laura Mathews, Maker & Sculptor – The Benefits of Instagram & Patreon

		</div>
		<div class="youtubeSectionDescription bodycopyb">
			Laura shares her top tips and lessons learned on building a loyal Instagram following and how Patreon has benefitted her business.  Invaluable insights for anyone wishing to build their online community and create a new income stream with Patreon.  Laura produces handcrafted articulated animals and puppets carved from sustainably sourced wood.

		</div>
	</div>
	
	<div class="youtubeSection">
		<div class="youtubeVideo">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/XuJlzsuBWSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="youtubeSectionTitle h3b">
			RCF-D Spotlight: Emily Ryalls, Photographer

		</div>
		<div class="youtubeSectionDescription bodycopyb">
			Emily Ryalls, Photographer – Emily provides a window into her photography practice, how she’s keeping creative during a lockdown and the making of a current project, the Fun and Games Zine.  Emily is concerned with using the camera as a means of representation and visual storytelling. Personal experiences of gender disparity in the healthcare system fuel a lot of Emily's personal work and her more recent work highlights an intersection between performance and photography. 

		</div>
	</div>
	
	<div class="h1b resourcesDescription">

		RCF-D Insights and Ideas

	</div>
	
	<div class="youtubeSection">
		<div class="youtubeVideo">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7B1lj9iX924" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="youtubeSectionTitle h3b">
			RCF D Ideas & Insights - Cashflow & Funding

		</div>
		<div class="youtubeSectionDescription bodycopyb">
			This first episode focuses on Cashflow and Funding and features Tina Smith, Debbie Bryan and Bev Shephard, hosted by our Creative Business Coach Ellen O’Hara.

		</div>
	</div>
	
</div>

<% include partials/footer %>
