body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.events-gallery {
	display: flex;
	flex-wrap:wrap;
	Flex-basis: 400px;
}

.sign-up-btn {
	opacity: 0%;
}

/* Animations */

div.item:hover img{
  opacity:0.3;
  filter: grayscale(100%);
}

div.item:hover p{
  opacity:0.3;
  filter: grayscale(100%);
}

div.item:hover h3{
  opacity:0.3;
  filter: grayscale(100%);
}


#email-subscribe {
	background-color: #2E8B57;
}

.hr1 {
  border: 0;
  clear:both;
  display:block;
  width: 96%;               
  background-color: black;
  height: 1px;
}

body, html {
  height: 100%;
}

.green-blue {
	background-color:#426F7E; 
}

.primary-orange {
	background-color: #EB600B;
}

.sign-up {
	height:100%; 
	border-top: 2px solid #426F7E;
	border-right: 2px solid #426F7E;
	border-bottom: 2px solid #426F7E;
}

.container {
	width:70%;
	max-width: 1366px;
}

#landing-quote-box {
	background-color: #426F7E;
	height: 50%;
	margin-bottom: 6em;
}

.bodycopyw {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: white;
}

.bodycopyb {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: black;
}

.bodycopysmw {
	font-family: 'Open Sans', sans-serif;
	font-size: 8px;
	color: white;
}

.bodycopysmb {
	font-family: 'Open Sans', sans-serif;
	font-size: 8px;
	color: black;
}

.h1w {
	font-family: 'Proza Libre', sans-serif;
	font-size: 40px;
	color: white;
}

.h1b {
	font-family: 'Proza Libre', sans-serif;
	font-size: 40px;
	color: black;
}

.h3b {
font-family: 'Proza Libre', sans-serif;
font-size: 24px;
color: black;
}

.h3w {
font-family: 'Proza Libre', sans-serif;
font-size: 24px;
color: white;
}

.h2b {
font-family: 'Proza Libre', sans-serif;
font-size: 32px;
color: black;
}

.h2w {
font-family: 'Proza Libre', sans-serif;
font-size: 32px;
color: white;
}

.h2o {
	font-family: 'Proza Libre', sans-serif;
	font-size: 32px;
	color: #EB600B;
}

.h3o {
	font-family: 'Proza Libre', sans-serif;
	font-size: 24px;
	color: #EB600B;
}

.bodycopyo {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #EB600B;
}

a:hover {
    color: #EB600B;
}

.btn-outline-dark:hover {
    color: white;
    background-color: #EB600B;
    border-color: #EB600B;
}

#footer {
	background-color: #707070;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
    border-top: 1px solid #444444;
}

.btn-primary {
	color: white;
	background-color: #EB600B;
    border-color: #EB600B;
}

.btn-secondary {
	color: white;
	background-color: #F59719;
    border-color: #F59719;
}

.btn-primary:hover {
	color: white;
	background-color: #F59719;
    border-color: #F59719;
}

.btn-secondary:hover {
	color: white;
	background-color: #EB600B;
    border-color: #EB600B;
}
#events-tab {
	border: 2px solid black;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 0;
	padding-right: 2rem;
}

.card {
	border:none;
	margin-top:1.5rem;
	margin-bottom:1.5rem;
	margin-left:1.5rem;
	margin-right:1rem;
}

.card-img-top {
	position: absolute;
	height: 58%;
	object-fit: cover;
}

.card-img-overlay {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1.25rem;
	padding-right: 1rem;
}

.card-body {
	border-bottom:4px solid rgba(0, 0, 0, .15);
	border-right:4px solid rgba(0, 0, 0, .15);
	background-color: white;
	margin-top:10em;
	width: 90%;
}

.card-date {
	border-bottom:4px solid rgba(0, 0, 0, .15);
	border-right:4px solid rgba(0, 0, 0, .15);
	background-color: white;
  	position: absolute;
  	bottom: 85%;
 	left: 95%;
  	transform: translate(-50%, -50%);
	height: 4rem;
};



#email-subscribe {
	background-color: #2E8B57;
}

#more-info-box {
	background-color: #426F7E;
	width: 60%;
};


#more-info-box .btn-primary {
	width: 100%;
}

#more-info-box {
	background-color:#2E8B57; 
	width: 90%;
};

.w-40 {
	width:40%;
}

.w-20 {
	width:20%;
}
.w-50 {
	width:50%;
}

.w-10 {
	width:10%;
}

.w-30 {
	width:30%;
}

.w-35 {
	width:35%;
}

.w-70 {
	width:70%;
}

.w-90 {
	width:90%;
}

.w-100 {
	width:100%;
}

#learn-more {
	display:flex;
	flex-direction: column;
}

#event-box {
	background-color: #426F7E;
	width: 100%;
}

.event-box div{
	padding: 1.5rem;
	display: flex;
}

.event-box-excerpt{
	display:flex;
	flex-direction:column;
	padding: 1.5rem;
	width: 70%;
	justify-content: space-between;
	margin:1.5rem;
}

.event-box-title{
	display:flex;
	flex-direction:column;
	width: 30%;
	margin:auto;
}

@media only screen and (max-width: 640px) {

	form div {
		flex-direction:column;
		color: red;
		display: flex;
	}

	#event-box div {
		flex-direction:column;
		flex-wrap:wrap;
	}
	
	.event-box-excerpt{
		display:flex;
		flex-direction:row;
		padding: 1.5rem;
		width: 70%;
		justify-content: space-between;
		margin:1.5rem;
	}

	.event-box-title{
		display:flex;
		flex-direction:row;
		width: 30%;
		margin:auto;
	}
	
	#learn-more {
	display:flex;
	flex-direction: column;
	}

}

